:root {
  font-family: var(--font-family-primary);
  color: var(--color-sl-grey-neutral-700);
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-vx-warm-neutral-50);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/ship.svg');
  background-repeat: no-repeat;
  background-position: clamp(-75px, -15vw, -130px) clamp(-30px, -10vh, -50px);
  background-size: clamp(400px, 50vw, 680px) auto;
  pointer-events: none;
  z-index: 0;
}

#app {
  max-width: 1268px;
  margin: 0 auto;
  padding: 50px 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}
