/**
 * Design System CSS Custom Properties
 * 
 */

:root {
  /* Typography */
  font-family: Inter, sans-serif;
  --font-family-primary: Inter, sans-serif;

  /* Typography Scale - Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;
  --font-size-2xl: clamp(28px, 4vw, 42px);

  /* Typography Scale - Line Heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.6;
  --line-height-19: 19px;
  --line-height-22: 22px;
  --line-height-38: 38px;

  /* Typography Scale - Letter Spacing */
  --letter-spacing-tight: -0.03em;
  --letter-spacing-normal: 0;

  /* Typography Scale - Font Weights */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  /* Colors */
  --color-vx-warm-neutral-50: #f9f7f7;
  --color-vx-warm-neutral-100: #f1efef;
  --color-vx-warm-neutral-200: #e7e4e4;
  --color-vx-warm-neutral-300: #d8d4d4;
  --color-vx-warm-neutral-400: #aaa5a5;
  --color-vx-warm-neutral-500: #787474;
  --color-vx-warm-neutral-700: #464343;

  --color-sl-grey-neutral-300: #d4d4d8;
  --color-sl-grey-neutral-500: #71717a;
  --color-sl-grey-neutral-700: #3f3f46;

  --color-sl-color-neutral-0: #ffffff;

  --color-bw-white: #ffffff;

  --color-grays-white: #ffffff;

  --color-annotation-style-pink: #ff2d55;
  --color-annotation-style-grey: #8e8e93;

  --color-orange-default: #eb6a00;

  /* Shadows */
  --shadow-elevation-deep-1: 0px 8px 24px 0px #00000008;
}
